<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="public/styles/style.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/8fd9367667.js" crossorigin="anonymous"></script>
    <script src="../scripts/nav.js" defer></script>
    <title>Document</title>
</head>
<body>
    <nav>
        <ul>
            <li><i class="fa-solid fa-house"></i>HOME</li>
            <li><i class="fa-solid fa-gear"></i>OPCJE</li>
            <li><i class="fa-solid fa-gauge"></i>DASHBOARD</li>
            <li><i class="fa-solid fa-user"></i>PROFIL</li>
        </ul>

        <ul class="mobile-icons">
            <i class="fa-solid fa-bars"></i>
        </ul>
    </nav>

    <main>
        <div class="pierwszy">
            <h1>HELLO STUDENTS!</h1>
            <div class="cards">
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <div class="image-placeholder">
                    NEWS!
                </div>
                <p>
                    This is our example photo news.
                </p>
            </div>
    
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <p>
                    This is our example photo news.
                </p>
            </div>
    
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <p>
                    This is our example photo news.
                </p>
            </div>
    
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <p>
                    This is our example photo news.
                </p>
            </div>
    
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <p>
                    This is our example photo news.
                </p>
            </div>
    
            <div class="card">
                <img src="https://random.imagecdn.app/700/700">
                <p>
                    This is our example photo news.
                </p>
            </div>
            </div>
        </div>
        <div class="drugi">
            <div>
                <p>Jakiś tekst</p>
            </div>
        </div>

        
    </main>
    <div class="floating-icon">
        <i class="fa-solid fa-plus"></i>
    </div>
</body>
</html>